<div class="standard-page">
    <div class="container row-separated">
        <div class="row">
            <div class="col-sm-12">
                <h1>Register for Acts in Town</h1>
            </div>
        </div>
        <form *ngIf="active" (ngSubmit)="onSubmit(registerUserForm)" #registerUserForm="ngForm" class="form-horizontal" role="form"
        novalidate>
            <div class="form-group" [class.has-error]="registerUserForm.submitted && !type.valid">
                <label class="control-label col-sm-4">What type of user are you?
                    <br/>(You can be more than one)</label>
                <div class="col-sm-6">
                    <div class="checkbox checkbox-aligned" *ngFor="let userType of viewModel.userTypes">
                        <input type="checkbox" [(ngModel)]="userType.selected" name="userType_{{userType.value}}" id="userType_{{userType.value}}"
                        class="styled" />
                        <label attr.for="userType_{{userType.value}}">
                            {{userType.text}}
                        </label>
                    </div>
                    <input type="hidden" [ngModel]="viewModel.userTypes !== null && (viewModel.userTypes[0].selected || viewModel.userTypes[1].selected || viewModel.userTypes[2].selected || viewModel.userTypes[3].selected)"
                    #type="ngModel" name="type" mustBeTrue/>
                    <div *ngIf="registerUserForm.submitted">
                        <div class="help-block" *ngIf="type.errors && type.errors.mustBeTrue">
                            One type option must be selected.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" [class.has-error]="registerUserForm.submitted && (!email.valid || viewModel.alreadyRegistered)">
                <label class="control-label col-sm-4">Email</label>
                <div class="col-sm-4">
                    <input type="email" [(ngModel)]="viewModel.email" #email="ngModel" name="email" required class="form-control" maxlength="50"
                    (ngModelChange)="clearAlreadyRegistered()" />
                    <div *ngIf="registerUserForm.submitted">
                        <div class="help-block" *ngIf="viewModel.alreadyRegistered">
                            Email is already registered.
                        </div>
                        <div class="help-block" *ngIf="email.errors && email.errors.required">
                            Email field is required.
                        </div>
                        <div class="help-block" *ngIf="email.errors && email.errors.email">
                            Email field is not valid.
                        </div>
                        <div class="help-block" *ngIf="email.errors && email.errors.maxlength">
                            Email cannot be more than 50 characters.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" [class.has-error]="registerUserForm.submitted && !password.valid">
                <label class="control-label col-sm-4">Password</label>
                <div class="col-sm-4">
                    <input type="password" [(ngModel)]="viewModel.password" #password="ngModel" name="password" required class="form-control"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*\W)\S{6,15}$" compare="confirmPassword" compareReverse="true"
                    />
                    <div *ngIf="registerUserForm.submitted">
                        <div class="help-block" *ngIf="password.errors && password.errors.required">
                            Password field is required.
                        </div>
                        <div class="help-block" *ngIf="password.errors && password.errors.pattern">
                            Password must be 6-15 characters and contain uppercase and lowercase charaters, a number and a symbol.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" [class.has-error]="registerUserForm.submitted && !confirmPassword.valid">
                <label class="control-label col-sm-4">Confirm Password</label>
                <div class="col-sm-4">
                    <input type="password" [(ngModel)]="viewModel.confirmPassword" #confirmPassword="ngModel" name="confirmPassword" required
                    class="form-control" compare="password" />
                    <div *ngIf="registerUserForm.submitted">
                        <div class="help-block" *ngIf="confirmPassword.errors && confirmPassword.errors.required">
                            Confirm password field is required.
                        </div>
                        <div class="help-block" *ngIf="confirmPassword.errors && confirmPassword.errors.compare">
                            Confirm password and password fields must match
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" [class.has-error]="registerUserForm.submitted && !firstName.valid">
                <label class="control-label col-sm-4">First Name</label>
                <div class="col-sm-4">
                    <input type="text" [(ngModel)]="viewModel.firstName" #firstName="ngModel" name="firstName" required class="form-control"
                    maxlength="50" />
                    <div *ngIf="registerUserForm.submitted">
                        <div class="help-block" *ngIf="firstName.errors && firstName.errors.required">
                            First name field is required.
                        </div>
                        <div class="help-block" *ngIf="firstName.errors && firstName.errors.maxlength">
                            First name cannot be more than 50 characters.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" [class.has-error]="registerUserForm.submitted && !lastName.valid">
                <label class="control-label col-sm-4">Last Name</label>
                <div class="col-sm-4">
                    <input type="text" [(ngModel)]="viewModel.lastName" #lastName="ngModel" name="lastName" required class="form-control" maxlength="50"
                    />
                    <div *ngIf="registerUserForm.submitted">
                        <div class="help-block" *ngIf="lastName.errors && lastName.errors.required">
                            Last name field is required.
                        </div>
                        <div class="help-block" *ngIf="lastName.errors && lastName.errors.maxlength">
                            Last name cannot be more than 50 characters.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" [class.has-error]="registerUserForm.stageName && !stageName.valid" *ngIf="viewModel.userTypes !== null && viewModel.userTypes[0].selected">
                <label class="control-label col-sm-4">Stage Name</label>
                <div class="col-sm-4">
                    <input type="text" [(ngModel)]="viewModel.stageName" #stageName="ngModel" name="stageName" class="form-control" maxlength="50"
                    />
                    <div *ngIf="registerUserForm.submitted">
                        <div class="help-block" *ngIf="stageName.errors && stageName.errors.required">
                            Stage name field is required.
                        </div>
                        <div class="help-block" *ngIf="stageName.errors && stageName.errors.maxlength">
                            Last name cannot be more than 50 characters.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            </div>
        </form>
    </div> 
</div>