.btn {
    &.btn-default {
        color: $white;
        background-color: $theme-primary;
        border-color: $theme-primary;
        -webkit-transition: all 0.35s;
        -moz-transition: all 0.35s;
        transition: all 0.35s;
    }
    
    &.btn-default:hover,
    &.btn-default:focus,
    &.btn-default.focus,
    &.btn-default:active,
    &.btn-default.active {
        color: $gray-darker;
        background-color: $gray-lighter;
        border-color: $gray-light;
    }
    
    &.btn-default:active,
    &.btn-default.active {
        background-image: none;
    }
    
    &.btn-default.disabled,
    &.btn-default[disabled],
    &.btn-default.disabled:hover,
    &.btn-default[disabled]:hover,
    &.btn-default.disabled:focus,
    &.btn-default[disabled]:focus,
    &.btn-default.disabled.focus,
    &.btn-default[disabled].focus,
    &.btn-default.disabled:active,
    &.btn-default[disabled]:active,
    &.btn-default.disabled.active,
    &.btn-default[disabled].active {
        background-color: $white;
        border-color: $white;
    }
    
    &.btn-default .badge {
        color: $white;
        background-color: $gray-darker;
    }
    
    &.btn-primary {
        color: $white;
        background-color: $theme-primary;
        border-color: $theme-primary;
        -webkit-transition: all 0.35s;
        -moz-transition: all 0.35s;
        transition: all 0.35s;
    }
    
    &.btn-primary:hover,
    &.btn-primary:focus,
    &.btn-primary.focus,
    &.btn-primary:active,
    &.btn-primary.active {
        color: $white;
        background-color: $theme-primary;
        border-color: $theme-primary;
    }
    
    &.btn-primary:active,
    &.btn-primary.active {
        background-image: none;
    }
    
    &.btn-primary.disabled,
    &.btn-primary[disabled],
    &.btn-primary.disabled:hover,
    &.btn-primary[disabled]:hover,
    &.btn-primary.disabled:focus,
    &.btn-primary[disabled]:focus,
    &.btn-primary.disabled.focus,
    &.btn-primary[disabled].focus,
    &.btn-primary.disabled:active,
    &.btn-primary[disabled]:active,
    &.btn-primary.disabled.active,
    &.btn-primary[disabled].active {
        background-color: $theme-primary;
        border-color: $theme-primary;
    }
    
    &.btn-primary .badge {
        color: $theme-primary;
        background-color: $white;
    }
    
    &.btn {
        font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
        border: none;
        //border-radius: 300px;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    &.btn-xl {
        padding: 15px 30px;
    }
    
    &.btn-success {
        background-color: $theme-primary;
    }
}

.open > .dropdown-toggle {
    &.btn {
        &.btn-default {
            color: $gray-darker;
            background-color: $gray-lighter;
            border-color: $gray-light;
            background-image: none;
        }
    
        &.btn-primary {
            color: $white;
            background-color: $theme-primary;
            border-color: $theme-primary;
            background-image: none;
        }
    }
}

fieldset[disabled] {
    &.btn {
        &.btn-default,
        &.btn-default:hover,
        &.btn-default:focus,
        &.btn-default.focus,
        &.btn-default:active,
        &.btn-default.active {
            background-color: $white;
            border-color: $white;
        }
    }
}

fieldset[disabled] {
    &.btn {
        &.btn-primary,
        &.btn-primary:hover,
        &.btn-primary:focus,
        &.btn-primary.focus,
        &.btn-primary:active,
        &.btn-primary.active {
            background-color: $theme-primary;
            border-color: $theme-primary;
        }
    }
}
