<sd-loading-overlay-spinner *ngIf="viewModel.elementState === 0"></sd-loading-overlay-spinner>
<div class="standard-page">
    <div class="container row-separated">
        <div class="row">
            <div class="col-sm-12">
                <div class="clearfix">
                    <h1 class="has-buttons">Message</h1>
                    <a href="" routerLink="/message/reply/{{viewModel.messageId}}" routerLinkActive="active" class="btn btn-default pull-right">Reply</a>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="viewModel.elementState === 1">
            <div class="col-sm-12 ">
                <p>There was an error loading the message.</p>
            </div>
        </div>
        <ng-container *ngIf="viewModel.elementState === 3">
            <div class="row">
                <div class="col-sm-12 single-record-header">
                    <a class="avatar" href="#">
                        <img src="{{viewModel.senderImageUrl}}" />
                    </a>
                    <div class="details">
                        <h2>
                            <i class="fa fa-user"></i> {{viewModel.senderFullName}}
                        </h2>
                        <h3 class="subtitle">
                            <i class="fa fa-clock-o"></i> {{viewModel.sentOnString}}
                        </h3>
                        <h4>
                            {{viewModel.title}}
                        </h4>
                        <p>
                            {{viewModel.body}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h1>Mesage History</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 single-record-header">
                    <div class="scroller">
                        <div class="row" *ngFor="let previousMessage of viewModel.previousMessages">
                            <div class="col-sm-12 single-record-header">
                                <div>
                                    <a class="avatar" href="#">
                                        <img src="{{previousMessage.senderImageUrl}}" />
                                    </a>
                                    <div class="details">
                                        <h2>
                                            <i class="fa fa-user"></i> {{previousMessage.senderFullName}}
                                        </h2>
                                        <h3 class="subtitle">
                                            <i class="fa fa-clock-o"></i> {{previousMessage.sentOnString}}
                                        </h3>
                                        <h4>
                                            {{previousMessage.title}}
                                        </h4>
                                        <p>
                                            {{previousMessage.body}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <sd-pager records="{{viewModel.previousMessageCount}}" rootUrl="/message/list-received" [currentPage]="viewModel.previousMessagePage"></sd-pager>
                </div>
            </div>
        </ng-container>
    </div>
</div>