<sd-loading-overlay-spinner *ngIf="viewModel.elementState === 0"></sd-loading-overlay-spinner>
<div class="standard-page">
    <div class="container row-separated">
        <div class="row">
            <div class="col-sm-12">
                <div class="clearfix">
                    <h1 class="has-buttons">Message</h1>
                    <a href="" routerLink="/message/reply/{{viewModel.messageId}}" routerLinkActive="active" class="btn btn-default pull-right">Add</a>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="viewModel.elementState === 1">
            <div class="col-sm-12 ">
                <p>There was an error loading the message.</p>
            </div>
        </div>
        <div class="row" *ngIf="viewModel.elementState === 3">
            <div class="col-sm-12 single-record-header">
                <a class="avatar" href="#">
                    <img src="{{viewModel.senderImageUrl}}" />
                </a>
                <div class="details">
                    <h2>
                        <i class="fa fa-user"></i> {{viewModel.senderFullName}}
                    </h2>
                    <h3 class="subtitle">
                        <i class="fa fa-clock-o"></i> {{viewModel.sentOnString}}
                    </h3>
                    <p>
                        {{viewModel.title}}
                    </p>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="viewModel.elementState === 3">
            <div class="col-sm-12">
                {{viewModel.body}}
            </div>
        </div>
    </div>
</div>