<nav class="navbar navbar-default navbar-fixed-top affix-top" role="navigation" *ngIf="authenticated">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="isCollapsed = !isCollapsed">
            <!--<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar">-->
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <ul class="nav navbar-nav pull-right visible-xs">
                <li class="dropdown">
                    <a href="#" routerLink="/conversation/list" routerLinkActive="active" class="messages">
                        <span class="glyphicon glyphicon-envelope"></span>
                        <span class="badge" *ngIf="newMessages">+</span>
                    </a>
                </li>
            </ul>
            <a routerLink="/" routerLinkActive="active" class="navbar-brand">
                <img src="/assets/svg/acts-in-town-logo-white.svg" alt="Acts in town logo" /> Acts In Town
            </a>
        </div>
        <div id="navbar" class="navbar-collapse" [class.collapse]="isCollapsed">
            <!--<div id="navbar" class="navbar-collapse collapse">-->
            <ul class="nav navbar-nav navbar-right">
                <li class="menu-item  hidden-xs">
                    <a href="#" routerLink="/conversation/list" routerLinkActive="active">
                        Messages
                        <span class="badge" *ngIf="newMessages">+</span>
                    </a>                
                </li>
                <li class="menu-item dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Spots<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="menu-item dropdown dropdown-submenu"><a href="" routerLink="/spot/add" routerLinkActive="active">Add spot</a></li>
                        <li class="menu-item dropdown dropdown-submenu"><a href="" routerLink="/spot/list" routerLinkActive="active">My spots</a></li>
                        <li class="menu-item dropdown dropdown-submenu"><a href="" routerLink="/spot/search/available" routerLinkActive="active">Search available</a></li>
                        <li class="menu-item dropdown dropdown-submenu"><a href="" routerLink="/spot/search/booked" routerLinkActive="active">Search Acts In Town</a></li>
                    </ul>
                </li>
                <li class="menu-item dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="menu-item dropdown dropdown-submenu"><a href="" routerLink="/user/edit" routerLinkActive="active">Edit profile</a></li>
                        <li class="menu-item dropdown dropdown-submenu"><a href="" routerLink="/user/change-password" routerLinkActive="active">Change Password</a></li>
                        <li class="menu-item dropdown dropdown-submenu"><a href="" routerLink="/user/logout" routerLinkActive="active">Sign out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-top affix-top" role="navigation" *ngIf="!authenticated">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="isCollapsed = !isCollapsed">
            <!--<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar">-->
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a routerLink="/" routerLinkActive="active" class="navbar-brand">
                <img src="/assets/svg/acts-in-town-logo-white.svg" alt="Acts in town logo" /> Acts In Town
            </a>
        </div>
        <div id="navbar" class="navbar-collapse" [class.collapse]="isCollapsed">
            <!--<div id="navbar" class="navbar-collapse collapse">-->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="" routerLink="/user/login" routerLinkActive="active">Sign In</a></li>
                <li><a href="" routerLink="/spot/search/available" routerLinkActive="active">Search Spots</a></li>
            </ul>
        </div>
    </div>
</nav>
