<sd-loading-overlay-spinner *ngIf="viewModel.elementState === 0"></sd-loading-overlay-spinner>
<div class="standard-page">
    <div class="container row-separated">
        <div class="row">
            <div class="col-sm-12">
                <h1>Send Password Reset Email</h1>
            </div>
        </div>
        <div class="row" *ngIf="viewModel.elementState === 0">
        </div>
        <form (ngSubmit)="onSubmit(initializePasswordResetForm)" #initializePasswordResetForm="ngForm" class="form-horizontal" role="form"
        novalidate *ngIf="viewModel.elementState === 3">
            <div class="form-group" [class.has-error]="initializePasswordResetForm.submitted && !email.valid">
                <label class="control-label col-sm-4">Email</label>
                <div class="col-sm-4">
                    <input type="email" [(ngModel)]="viewModel.email" #email="ngModel" name="email" required class="form-control" maxlength="50"/>
                    <div *ngIf="initializePasswordResetForm.submitted">
                        <div class="help-block" *ngIf="email.errors && email.errors.required">
                            Email field is required.
                        </div>
                        <div class="help-block" *ngIf="email.errors && email.errors.email">
                            Email field is not valid.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <button type="submit" class="btn btn-success">Send Email</button>
                </div>
            </div>
        </form>
        <div class="row" *ngIf="viewModel.elementState === 4">
            <div class="col-sm-12 ">
                <p>Your password reset has been sent.</p>
            </div>
        </div>
        <div class="row" *ngIf="viewModel.elementState === 5">
            <div class="col-sm-12 ">
                <p>There was an error sending your password reset.</p>
            </div>
        </div>
    </div> 
</div>