<sd-loading-overlay-spinner *ngIf="viewModel.elementState === 0"></sd-loading-overlay-spinner>
<div class="standard-page">
    <div class="container row-separated">
        <div class="row">
            <div class="col-sm-12">
                <h1>Add a Spot</h1>
            </div>
        </div>
        <div class="row" *ngIf="viewModel.spotsState === 1">
            <div class="col-sm-12 ">
                <p>There was an error loading your spots.</p>
            </div>
        </div>
        <div class="row" *ngIf="viewModel.spotsState === 2">
            <div class="col-sm-12 ">
                <p>You have not yet registered any spots.</p>
                <a href="" routerLink="/spot/add" routerLinkActive="active" class="btn btn-default">Add Spot</a>
            </div>
        </div>
        <div class="row" *ngIf="viewModel.elementState === 5">
            <div class="col-sm-12 ">
                <p>There was an error adding your spot.</p>
            </div>
        </div>
        <div class="row" *ngIf="viewModel.elementState === 3 && viewModel.validationErrors !== null">
            <div class="col-sm-12 ">
                <p>The following validation errors occured:</p>
                <ul>
                    <li *ngFor="let validationError of viewModel.validationErrors">{{validationError}}</li>
                </ul>
            </div>
        </div>
        <form (ngSubmit)="onSubmit(addSpotForm)" #addSpotForm="ngForm" class="form-horizontal" role="form" novalidate 
                *ngIf="viewModel.elementState === 3">
            <div class="form-group" [class.has-error]="addSpotForm.submitted && !bookedState.valid">
                <label class="control-label col-sm-3">I am adding:</label>
                <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="viewModel.bookedState" #bookedState="ngModel" name="bookedState" required>
                        <option *ngFor="let bookedStateOption of viewModel.bookedStateOptions" [value]="bookedStateOption.value" [selected]="bookedStateOption.selected">
                            {{bookedStateOption.text}}
                        </option>
                    </select>
                    <p class="option-info" *ngIf="viewModel.bookedState === 'available'">
                        Use this option if you are a promoter or venue owner and you have an empty spot that you need filling.
                    </p>
                    <p class="option-info" *ngIf="viewModel.bookedState === 'booked'">
                        Use this option if you are an agent or act that has already been booked and you want venues and promoters to see that you are in town.
                    </p>
                    <div *ngIf="addSpotForm.submitted">
                        <div class="help-block" *ngIf="bookedState.errors && bookedState.errors.required">
                            This field is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" [class.has-error]="addSpotForm.submitted && !scheduledFor.valid">
                <label class="control-label col-sm-3">Date and time of spot:</label>
                <div class="col-sm-6">
                    <sd-date-time-selector [(value)]="viewModel.scheduledFor"></sd-date-time-selector>
                    <input type="hidden" [(ngModel)]="viewModel.scheduledFor" #scheduledFor="ngModel" name="scheduledFor" futureDateTime />
                    <div *ngIf="addSpotForm.submitted">
                        <div class="help-block" *ngIf="scheduledFor.errors && scheduledFor.errors.futureDateTime">
                            Date/time must be in the future.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" [class.has-error]="addSpotForm.submitted && !durationMinutes.valid">
                <label class="control-label col-sm-3">Duration of spot:</label>
                <div class="col-sm-6">
                    <select class="form-control" (change)="durationMinutesChanged($event.target.value)">
                        <option *ngFor="let durationMinutesOption of viewModel.durationMinutesOptions" [value]="durationMinutesOption.value" [selected]="durationMinutesOption.selected">
                            {{durationMinutesOption.text}}
                        </option>
                    </select>
                    <input type="hidden" required [(ngModel)]="viewModel.durationMinutes" #durationMinutes="ngModel" name="durationMinutes" required/>
                    <div *ngIf="addSpotForm.submitted">
                        <div class="help-block" *ngIf="durationMinutes.errors && durationMinutes.errors.required">
                            Duration field is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" >
                <label class="control-label col-sm-3">County:</label>
                <div class="col-sm-6">
                    <select [(ngModel)]="viewModel.countyId" #countyId="ngModel" name="countyId" required class="form-control loading" 
                        [disabled]="!viewModel.countyOptionsLoaded" (change)="filterTowns($event.target.value)">
                        <option *ngFor="let countyOption of viewModel.countyOptions" [value]="countyOption.value" [selected]="countyOption.selected">
                            {{countyOption.text}}
                        </option>
                    </select>
                    <div class="loading" *ngIf="!viewModel.countyOptionsLoaded">Loading...</div>
                </div>
            </div>
            <div class="form-group" [class.has-error]="addSpotForm.submitted && !townId.valid">
                <label class="control-label col-sm-3">Town:</label>
                <div class="col-sm-6">
                    <select [(ngModel)]="viewModel.townId" #townId="ngModel" name="townId" required class="form-control loading" [disabled]="!viewModel.townOptionsLoaded">
                        <option *ngFor="let townOption of viewModel.townOptions" [value]="townOption.value" [selected]="townOption.selected">
                            {{townOption.text}}
                        </option>
                    </select>
                    <div class="loading" *ngIf="!viewModel.townOptionsLoaded">Loading...</div>
                    <div *ngIf="addSpotForm.submitted">
                        <div class="help-block" *ngIf="townId.errors && townId.errors.required">
                            Town field is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" [class.has-error]="addSpotForm.submitted && !venueName.valid">
                <label class="control-label col-sm-3">Venue:</label>
                <div class="col-sm-6">
                    <input type="text" [(ngModel)]="viewModel.venueName" #venueName="ngModel" name="venueName" required class="form-control"
                    maxlength="50" />
                    <div *ngIf="addSpotForm.submitted">
                        <div class="help-block" *ngIf="venueName.errors && venueName.errors.required">
                            Venue field is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" [class.has-error]="addSpotForm.submitted && !description.valid">
                <label class="control-label col-sm-3">Description:</label>
                <div class="col-sm-6">
                    <textarea [(ngModel)]="viewModel.description" #description="ngModel" name="description" class="form-control"
                    maxlength="250" rows="5" placeholder="Brief description of the slot - who it would be suitable for, what kind of crowd etc.">
                    </textarea>
                    <div *ngIf="addSpotForm.submitted">
                        <div class="help-block" *ngIf="description.errors && description.errors.maxlength">
                            Description cannot be more than 250 characters.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-success">Add</button>
                    <a href="" routerLink="/spot/list" routerLinkActive="active" class="btn btn-default">Back to list</a>
                </div>
            </div>
        </form>
    </div>
</div>