<sd-loading-overlay-spinner *ngIf="viewModel.elementState === 0"></sd-loading-overlay-spinner>
<div class="standard-page">
    <div class="container row-separated">
        <div class="row">
            <div class="col-sm-12">
                <h1>Reset Password</h1>
            </div>
        </div>
        <div class="row" *ngIf="viewModel.elementState === 0">
        </div>
        <form (ngSubmit)="onSubmit(resetPasswordForm)" #resetPasswordForm="ngForm" class="form-horizontal" role="form"
        novalidate *ngIf="viewModel.elementState === 3">
            <div class="form-group" [class.has-error]="resetPasswordForm.submitted && !email.valid">
                <label class="control-label col-sm-4">Email</label>
                <div class="col-sm-4">
                    <input type="email" [(ngModel)]="viewModel.email" #email="ngModel" name="email" required class="form-control" maxlength="50"/>
                    <div *ngIf="resetPasswordForm.submitted">
                        <div class="help-block" *ngIf="email.errors && email.errors.required">
                            Email field is required.
                        </div>
                        <div class="help-block" *ngIf="email.errors && email.errors.email">
                            Email field is not valid.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" [class.has-error]="resetPasswordForm.submitted && !password.valid">
                <label class="control-label col-sm-4">Password</label>
                <div class="col-sm-4">
                    <input type="password" [(ngModel)]="viewModel.password" #password="ngModel" name="password" required class="form-control"
                    password compare="confirmPassword" compareReverse="true"
                    />
                    <div *ngIf="resetPasswordForm.submitted">
                        <div class="help-block" *ngIf="password.errors && password.errors.required">
                            Password field is required.
                        </div>
                        <div class="help-block" *ngIf="password.errors && password.errors.password">
                            Password must be 6-15 characters and contain uppercase and lowercase charaters, a number and a symbol.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" [class.has-error]="resetPasswordForm.submitted && !confirmPassword.valid">
                <label class="control-label col-sm-4">Confirm Password</label>
                <div class="col-sm-4">
                    <input type="password" [(ngModel)]="viewModel.confirmPassword" #confirmPassword="ngModel" name="confirmPassword" required
                    class="form-control" compare="password" />
                    <div *ngIf="resetPasswordForm.submitted">
                        <div class="help-block" *ngIf="confirmPassword.errors && confirmPassword.errors.required">
                            Confirm password field is required.
                        </div>
                        <div class="help-block" *ngIf="confirmPassword.errors && confirmPassword.errors.compare">
                            Confirm password and password fields must match
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <button type="submit" class="btn btn-success">Send Email</button>
                </div>
            </div>
        </form>
        <div class="row" *ngIf="viewModel.elementState === 4">
            <div class="col-sm-12 ">
                <p>Your password has been reset.</p>
            </div>
        </div>
        <div class="row" *ngIf="viewModel.elementState === 5">
            <div class="col-sm-12 ">
                <p>There was an error resetting your password.</p>
            </div>
        </div>
    </div> 
</div>