<div class="input-group">
    <select [ngModel]="day" class="form-control date-selector-day" (change)="dayChanged($event.target.value)">
        <option *ngFor="let dayOption of days" [value]="dayOption.value" [selected]="dayOption.selected">
            {{dayOption.text}}
        </option>
    </select>
    <select [ngModel]="month" class="form-control date-selector-month" (change)="monthChanged($event.target.value)">
        <option *ngFor="let monthOption of months" [value]="monthOption.value" [selected]="monthOption.selected">
            {{monthOption.text}}
        </option>
    </select>
    <select [ngModel]="year" class="form-control date-selector-year" (change)="yearChanged($event.target.value)">
        <option *ngFor="let yearOption of years" [value]="yearOption.value" [selected]="yearOption.selected">
            {{yearOption.text}}
        </option>
    </select>
</div>