<sd-loading-overlay-spinner *ngIf="viewModel.spotsState === 0"></sd-loading-overlay-spinner>
<div class="standard-page">
    <div class="container row-separated">
        <div class="row">
            <div class="col-sm-12">
                <h1 *ngIf="viewModel.bookedState === 'available'">Available Spots</h1>
                <h1 *ngIf="viewModel.bookedState === 'booked'">Acts In Town</h1>
            </div>
        </div>
        <div class="row" *ngIf="viewModel.spotsState === 0">
        </div>
        <div class="row" *ngIf="viewModel.spotsState === 1">
            <div class="col-sm-12 ">
                <p>There was an error loading your spots.</p>
            </div>
        </div>
        <div class="row" *ngIf="viewModel.spotsState === 2">
            <div class="col-sm-12 ">
                <p>Unfortunately your search returned no results.</p>
                <a href="" routerLink="/spot/search/{{viewModel.bookedState}}" routerLinkActive="active" class="btn btn-default">Search Again</a>
            </div>
        </div>
        <ng-container *ngIf="viewModel.spotsState === 3">
            <div class="row" *ngFor="let spot of viewModel.spots">
                <div class="col-sm-12 ">
                    <div class="list-record clearfix">
                        <a class="avatar" href="#">
                            <img src="https://gravatar.com/avatar/105e18a0fbe4b594ee5cf252cb6dccfa?size=100&d=https%3A%2F%2Funtappd.akamaized.net%2Fsite%2Fassets%2Fimages%2Fdefault_avatar_v2.jpg%3Fv%3D1"
                            />
                        </a>
                        <div class="details">
                            <h2>
                                <i class="fa fa-clock-o"></i>
                                {{spot.scheduledFor | date: 'd MMM yyyy HH:mm' }}, {{spot.durationMinutes}} mins
                            </h2>
                            <h3 class="subtitle">
                                <i class="fa fa-map-marker"></i>
                                {{spot.venueName}}, {{spot.townName}}
                            </h3>
                            <h3 class="subtitle">
                                <i class="fa fa-user"></i>
                                {{spot.username}}
                            </h3>
                            <p>
                                Brief description of the slot - who it would be suitable for, what kind of crowd etc.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>