<div class="standard-page">
    <div class="container row-separated">
        <div class="row">
            <div class="col-sm-12">
                <h1>Change Password</h1>
            </div>
        </div>
        <form [formGroup]="changePasswordForm" class="form-horizontal" (ngSubmit)="onSubmit()" role="form" novalidate>
            <div class="form-group" [class.has-error]="changePasswordFormSubmitted && changePasswordForm.controls.oldPassword.errors">
                <label class="control-label col-sm-4">Old Password</label>
                <div class="col-sm-4">
                    <input type="password" formControlName="oldPassword" class="form-control" />
                    <div *ngIf="changePasswordFormSubmitted">
                        <div class="help-block" *ngIf="changePasswordForm.controls.oldPassword.errors && changePasswordForm.controls.oldPassword.errors.required">
                            Old Password field is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" [class.has-error]="changePasswordFormSubmitted && changePasswordForm.controls.newPassword.errors">
                <label class="control-label col-sm-4">New Password</label>
                <div class="col-sm-4">
                    <input type="password" formControlName="newPassword" class="form-control" />
                    <div *ngIf="changePasswordFormSubmitted">
                        <div class="help-block" *ngIf="changePasswordForm.controls.newPassword.errors && changePasswordForm.controls.newPassword.errors.required">
                            New Password field is required.
                        </div>
                        <div class="help-block" *ngIf="changePasswordForm.controls.newPassword.errors && changePasswordForm.controls.newPassword.errors.pattern">
                            Password must be 6-15 characters and contain uppercase and lowercase charaters, a number and a symbol.
                        </div>
                    </div>
                    <!--<div *ngIf="editUserForm.submitted">
                        <div class="help-block" *ngIf="firstName.errors && firstName.errors.required">
                            First name field is required.
                        </div>
                        <div class="help-block" *ngIf="firstName.errors && firstName.errors.maxlength">
                            First name cannot be more than 50 characters.
                        </div>
                    </div>-->
                </div>
            </div>
            <div class="form-group" [class.has-error]="changePasswordFormSubmitted && changePasswordForm.controls.confirmNewPassword.errors">
                <label class="control-label col-sm-4">Confirm New Password</label>
                <div class="col-sm-4">
                    <input type="password" formControlName="confirmNewPassword" class="form-control" />
                    <div *ngIf="changePasswordFormSubmitted">
                        <div class="help-block" *ngIf="changePasswordForm.controls.confirmNewPassword.errors && changePasswordForm.controls.confirmNewPassword.errors.required">
                            Old Password field is required.
                        </div>
                    </div>
                    <!--<div *ngIf="editUserForm.submitted">
                        <div class="help-block" *ngIf="firstName.errors && firstName.errors.required">
                            First name field is required.
                        </div>
                        <div class="help-block" *ngIf="firstName.errors && firstName.errors.maxlength">
                            First name cannot be more than 50 characters.
                        </div>
                    </div>-->
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <button type="submit" class="btn btn-success">Change</button>
                </div>
            </div>
        </form> 
    </div> 
</div>