<sd-loading-overlay-spinner *ngIf="viewModel.spotsState === 0"></sd-loading-overlay-spinner>
<div class="standard-page">
    <div class="container row-separated">
        <div class="row">
            <div class="col-sm-12">
                <div class="clearfix">
                    <h1 class="has-buttons">Your Spots</h1>
                    <a href="" routerLink="/spot/add" routerLinkActive="active" class="btn btn-default pull-right">Add</a>
                </div>
            </div>
        </div>
        <!--<div class="row" *ngIf="viewModel.spotsState === 0">
        </div>-->
        <div class="row" *ngIf="viewModel.spotsState === 1">
            <div class="col-sm-12 ">
                <p>There was an error loading your spots.</p>
            </div>
        </div>
        <div class="row" *ngIf="viewModel.spotsState === 2">
            <div class="col-sm-12 ">
                <p>You have not yet registered any spots.</p>
                <a href="" routerLink="/spot/add" routerLinkActive="active" class="btn btn-default">Add Spot</a>
            </div>
        </div>
        <ng-container *ngIf="viewModel.spotsState === 3">
            <div class="row" *ngFor="let spot of viewModel.spots">
                <div class="col-sm-12 ">
                    <div class="list-record clearfix">
                        <a class="avatar" href="#">
                            <!--<img src="https://localhost:8443/ActsInTown-uploads/Pawel.jpeg"/>-->
                            <img src="{{spot.imageUrl}}"/>
                        </a>
                        <div class="details">
                            <h2>
                                <i class="fa fa-clock-o"></i>
                                {{spot.scheduledFor | date: 'd MMM yyyy HH:mm' }}, {{spot.durationMinutes}} mins
                            </h2>
                            <h3 class="subtitle">
                                <i class="fa fa-map-marker"></i>
                                {{spot.venueName}}, {{spot.townName}}
                            </h3>
                            <h3 class="subtitle">
                                <i class="fa fa-check-square-o"></i>
                                {{spot.bookedStateDescription}}
                            </h3>
                            <p>
                                {{spot.description}}
                            </p>
                            <p>
                                <a href="" (click)="delete($event, spot.id)">Delete</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>